@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

.swal-button-ok {
  background-color: #c43030 !important;
}

.light-mode .p-datatable .p-datatable-tbody > tr > td {
  background-color: #F2F2F2; /* Color de fondo para el modo claro */
  color: #333; /* Color del texto para el modo claro */
}

.dark-mode .p-datatable .p-datatable-tbody > tr > td {
  background-color: #333; /* Color de fondo para el modo oscuro */
  color: #F2F2F2; /* Color del texto para el modo oscuro */
}

.custom-save-button {
  background-color: #A3BD31;
  /* Otros estilos personalizados para el botón de guardar */
}

.custom-cancel-button {
  background-color: #C91212;
  /* Otros estilos personalizados para el botón de cancelar */
}